<h1>Create Theme</h1>

    <div class="row">
    <div class="col-xs-4">
      <label igxLabel for="colorPrimary">colorPrimary:  </label>
      <input igxInput name="colorPrimary" type="text" />
    </div>
    <div class="col-xs-4" >
      <label igxLabel for="fontFamily">fontFamily:</label>
      <input igxInput name="fontFamily" type="text" /> 
    </div>
    <div class="col-xs-4">
      <label igxLabel for="fontSize">fontSize:</label>
      <input igxInput name="fontSize" type="text" />
    </div>
    <div class="col-xs-4">
      <label igxLabel for="btnHeight">btnHeight:</label>
      <input igxInput name="btnHeight" type="text" />
    </div>
    <div class="col-xs-4">
      <label igxLabel for="btnColor">btnColor:</label>
      <input igxInput name="btnColor" type="text" />
    </div>
    <div class="col-xs-4">
      <button mat-button (click)="saveTheme()">Save</button>
    </div>
    </div>
    
